<article class="row row-cols-md-1 row-cols-lg-2 g-3 my-3">
    <div class="col-12">
        <div class="ratio ratio-16x9">
            <img src="https://images.justwatch.com/backdrop/304524015/s640/john-wick-4.%7Bformat%7D" alt="John Wick" class="img-fluid rounded-3">
        </div>
    </div>
    <div class="col-12">
        <h2 class="fs-4 mb-2">Where To Watch "John Whick: Chapter 4"</h2>
        <p class="mb-2">Lorem ipsum dolor sit amet consectetur adipisicing elit. Id impedit reprehenderit, repudiandae ipsa officia totam sequi, ab explicabo tempora nisi autem a accusamus sit assumenda necessitatibus perspiciatis! Aliquid, natus quam.
        </p>
        <div class="d-flex gap-2 aling-items-center">
            <a href="#" class="link-danger fw-medium text-decoration-none">Leer más</a>
            <span class="text-secondary">•</span>
            <span class="text-secondary">4 min ago</span>
        </div>
    </div>
    
 </div>
</article>